body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FF99FF;
    flex-direction: column;
    gap: 3em; /* Increased gap to 2em */
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.video {
    max-width: 100%;
    width: 50%;
}

.video video {
    width: 100%;
    height: auto;
}

.video p {
    text-align: center;
}

h1 {
  margin-top: 2em;
  font-size: 1.8em;
  line-height: 1.6;
}